{% extends 'master/side_bar/master.html' %}
{% load static %}

{% block title %}Subservicios - Cámara de Comercio de Loja{% endblock %}
{% block page_title %}Subservicios{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/subservicios.css' %}">
{% endblock %}

{% block page_content %}

<hr class="divider-line" />

<div class="banner-servicios">
</div>

<hr class="divider-line" />

<a href="/servicios/{{categoria_id}}" id="btn-volver" class="btn btn-volver mb-3">
  <i class="fas fa-arrow-left me-2"></i> Volver a Servicios
</a>

<div id="cards-container" class="categories-scroll">
  {% for subservicio in subservicios %}
  <div class="category-card card-salud" style="background-image: url('{{ subservicio.img.url }}'); background-repeat: no-repeat; background-position: center; background-size: cover;">
    
    <div class="card-content d-flex flex-column justify-content-center align-items-center text-center h-100">
      <h2 class="card-title"><i class="fas fa-stethoscope fa-2x"></i></h2>
      <h2 style="color: white;">{{ subservicio.nombre }}</h2>
      <p class="card-description">
        {{ subservicio.descripcion }}
      </p>
      {% if subservicio.producto.url_html %}
          <a href="/{{ subservicio.producto.url_html }}/{{ servicio_id }}/{{ subservicio.producto.id }}/{{ categoria_id }}" class="btn btn-ingresar">
              Ingresar
          </a>
      {% else %}
          <div style="color: #c0392b; font-weight: bold; padding: 8px 12px; border: 1px solid #e74c3c; background-color: #f9ebea; border-radius: 6px; display: inline-block;">
              Subservicio no disponible. Próximamente.
          </div>
      {% endif %}
    </div>
  </div>
{% endfor %}
{% endblock %}