{% extends 'admin/master/masteradmin.html' %}
{% load static %}

{% block title %}Publicaciones - Admin{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/usuarios.css' %}" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
{% endblock %}

{% block admin_content %}
<hr>
<div class="main-socio-container">

    <table id="tabla-usuarios" class="display tabla-estilizada">
        <thead>
            <tr>
                <th>Imagen</th>
                <th>Titulo</th>
                <th>Servicio</th>
                <th>Fecha</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for publicacion in publicaciones %}
            <tr>
                <td>
                    {% if publicacion.imagen %}
                    <img src="{{ publicacion.imagen.url }}" alt="Foto de perfil" class="img-fluid rounded-circle"
                        style="max-width: 50px;">
                    {% else %}
                    <img src="{% static 'images/imagen2.png' %}" alt="Sin foto" class="img-fluid rounded-circle"
                        style="max-width: 50px;">
                    {% endif %}
                </td>
                <td>{{ publicacion.titulo }}</td>
                <td>{{ publicacion.servicio }}</td>
                <td>{{ publicacion.fecha_creacion }}</td>
                <td>
                    <a href="{% url 'ver_info_publicacion' publicacion.id %}" class="btn-view-info">Ver Info</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>
    <div class="text-end mt-4">
        <a href="{% url 'crear_publicacion' %}" class="btn btn-success">
            <i class="fas fa-plus me-1"></i> Crear nueva publicación
        </a>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/publicaciones_logic.js' %}" defer></script>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#tabla-usuarios').DataTable({
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json'
            }
        });
    });
</script>
{% endblock %}