{% extends 'admin/master/masteradmin.html' %}
{% load static %}

{% block title %}Usuarios - Incremento de Compras - Admin{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/usuarios.css' %}" />
<link rel="stylesheet" href="{% static 'css/usuarios_incremento.css' %}" />
{% endblock %}

{% block admin_content %}
<div class="users-section">
  <h4>Listado de usuarios para enviar mensaje</h4>
  <hr>
  <div class="filters-section">
    <!-- <span style="color: #343a40; font-weight: 500;">Aplicar filtro:</span>
    <button class="filter-button" id="filter-mas-compras">Mas Compras</button>
    <button class="filter-button" id="filter-mas-gasto">Mas gasto</button>
    <button class="filter-button" id="filter-ultima-compra">Ultima Compra</button> -->
  </div>

  <div class="users-list">
    {% for usuario in usuarios %}
    <div class="user-card increment">
      <div class="user-info">
        {% if usuario.perfil.imagen %}
        <img src="{{ usuario.perfil.imagen.url }}" alt="{{ usuario.get_full_name }}" class="user-avatar">
        {% else %}
        <img src="{% static 'images/imagen2.png' %}" alt="{{ usuario.get_full_name }}" class="user-avatar">
        {% endif %}
        <div class="user-text-zone">
          <span class="user-name">{{ usuario.get_full_name }}</span>

          <!-- <div class="user-columns">
            <div class="col-user">
              <span class="detail-item">Número de compras:</span>
              <strong>--</strong>
            </div>
            <div class="col-user">
              <span class="detail-item">Total gastado:</span>
              <strong>--</strong>
            </div>
            <div class="col-user">
              <span class="detail-item">Última compra:</span>
              <strong>--</strong>
            </div>
          </div> -->
        </div>
      </div>
      <a href="{% url 'enviar_mensaje_usuario' usuario.id %}" class="btn-apply-discount">Enviar mensaje</a>
    </div>
    {% endfor %}
  </div>

</div>

{% include 'admin/usuarios/bottom_user_nav.html' %}

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/usuarios_logic.js' %}" defer></script>
{% endblock %}