{% extends 'master/side_bar/master.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/servicios.css' %}">
{% endblock %}

{% block page_content %}

<hr class="divider-line" />

<a href="{% url 'categorias' %}" id="btn-volver" class="btn btn-volver mb-3">
  <i class="fas fa-arrow-left me-2"></i> Volver a Categorías
</a>

<div id="cards-container" class="categories-scroll">

  {% for servicio in servicios %}
  <div class="category-card" style="background-image: url('{{ servicio.img.url }}'); background-repeat: no-repeat; background-position: center; background-size: cover;">
    <div class="card-content text-center">
      <h2 class="card-title"><i class="fas fa-heartbeat fa-2x"></i></h2>
      <h2 style="color: white;">{{ servicio.nombre }}</h2>
      <p class="card-description" sty>
        {{ servicio.descripcion }}
      </p>
      <a href="/subservicios/{{servicio.id}}/{{categoria_id}}" class="btn btn-ingresar">Ingresarrrrrrrrrrrr</a>
    </div>
  </div>

  {% endfor %}


</div>
{% endblock %}