{% extends 'admin/master/masteradmin.html' %}
{% load static %}

{% block title %}Socios - Formularios - Admin{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/socios.css' %}" />
<link rel="stylesheet" href="{% static 'css/socios_formularios.css' %}" />
{% endblock %}

{% block admin_content %}
<hr>
<h4><i class="far fa-file-alt"></i> Formularios seguro de vida</h4>

<div class="main-socio-container">

  <div class="socio-forms-section">
    <div class="table-responsive-socio">
      <table>
        <thead>
          <tr>
            <th>Usuario</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Estado</th>
            <th>Solicitud</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for solicitud in solicitudes %}
          <tr>
            <td>
              <img src="{% static 'images/imagen2.png' %}" alt="{{ solicitud.nombres }} {{ solicitud.apellidos }}"
                class="table-user-avatar">
              {{ solicitud.nombres }} {{ solicitud.apellidos }}
            </td>
            <td>{{ solicitud.fecha_creacion|date:"d/m/Y" }}</td>
            <td>{{ solicitud.fecha_creacion|date:"H:i" }}</td>
            <td>
              <label class="switch">
                <input type="checkbox" {% if solicitud.firma_electronica_generada %}checked{% endif %}>
                <span class="slider round"></span>
              </label>
              {% if solicitud.firma_electronica_generada %}
              Aprobado
              {% else %}
              Pendiente
              {% endif %}
            </td>
            <td>
              <a href="{% url 'ver_info_solicitud' solicitud.id %}">
                Ver
              </a>
            </td>
            <td>
              <form action="{#}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-link p-0"
                  onclick="return confirm('¿Estás seguro de eliminar esta solicitud?');">
                  <i class="far fa-trash-alt text-danger"></i>
                </button>
              </form>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="6">No hay formularios registrados.</td>
          </tr>
          {% endfor %}
        </tbody>

      </table>
    </div>
  </div>
</div>
{% include 'admin/socios/bottom_socio_nav.html' %}
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/socios_logic.js' %}" defer></script>
{% endblock %}