{% extends 'admin/master/masteradmin.html' %}
{% load static %}

{% block title %}Socios - Formularios - Admin{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/socios.css' %}" />
<link rel="stylesheet" href="{% static 'css/socios_formularios.css' %}" />
{% endblock %}

{% block admin_content %}
<hr>
<h4><i class="far fa-file-alt"></i> Formularios</h4>

<div class="main-socio-container">

  <div class="socio-forms-section">
    <div class="table-responsive-socio">
      <table>
        <thead>
          <tr>
            <th>Usuario</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Estado</th>
            <th>Solicitud</th>
            <th>Descargas</th>
            <th>Eliminar</th>
            <th>Comentario</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><img src="{% static 'images/imagen2.png' %}" alt="Gabriela Riofrio" class="table-user-avatar"> Gabriela
              Riofrio</td>
            <td>03/07/2025</td>
            <td>20:00</td>
            <td>
              <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
              Aprobado
            </td>
            <td>Descargar <i class="far fa-file-pdf pdf-icon"></i></td>
            <td><i class="fas fa-cloud-download-alt"></i></td>
            <td><i class="far fa-trash-alt"></i></td>
            <td><input type="text" value="Comentario 1" class="comment-input"></td>
          </tr>
          <tr>
            <td><img src="{% static 'images/imagen2.png' %}" alt="Gabriela Riofrio" class="table-user-avatar"> Gabriela
              Riofrio</td>
            <td>03/07/2025</td>
            <td>20:00</td>
            <td>
              <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
              Aprobado
            </td>
            <td>Descargar <i class="far fa-file-pdf pdf-icon"></i></td>
            <td><i class="fas fa-cloud-download-alt"></i></td>
            <td><i class="far fa-trash-alt"></i></td>
            <td><input type="text" value="Comentario 2" class="comment-input"></td>
          </tr>
          <tr>
            <td><img src="{% static 'images/imagen2.png' %}" alt="Gabriela Riofrio" class="table-user-avatar"> Gabriela
              Riofrio</td>
            <td>03/07/2025</td>
            <td>20:00</td>
            <td>
              <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
              Pendiente
            </td>
            <td>Descargar <i class="far fa-file-pdf pdf-icon"></i></td>
            <td><i class="fas fa-cloud-download-alt"></i></td>
            <td><i class="far fa-trash-alt"></i></td>
            <td><input type="text" value="Comentario 3" class="comment-input"></td>
          </tr>
          <tr>
            <td><img src="{% static 'images/imagen2.png' %}" alt="Gabriela Riofrio" class="table-user-avatar"> Gabriela
              Riofrio</td>
            <td>03/07/2025</td>
            <td>20:00</td>
            <td>
              <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
              Aprobado
            </td>
            <td>Descargar <i class="far fa-file-pdf pdf-icon"></i></td>
            <td><i class="fas fa-cloud-download-alt"></i></td>
            <td><i class="far fa-trash-alt"></i></td>
            <td><input type="text" value="Comentario 4" class="comment-input"></td>
          </tr>
          <tr>
            <td><img src="{% static 'images/imagen2.png' %}" alt="Gabriela Riofrio" class="table-user-avatar"> Gabriela
              Riofrio</td>
            <td>03/07/2025</td>
            <td>20:00</td>
            <td>
              <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
              Aprobado
            </td>
            <td>Descargar <i class="far fa-file-pdf pdf-icon"></i></td>
            <td><i class="fas fa-cloud-download-alt"></i></td>
            <td><i class="far fa-trash-alt"></i></td>
            <td><input type="text" value="Comentario 5" class="comment-input"></td>
          </tr>
          <tr>
            <td><img src="{% static 'images/imagen2.png' %}" alt="Gabriela Riofrio" class="table-user-avatar"> Gabriela
              Riofrio</td>
            <td>03/07/2025</td>
            <td>20:00</td>
            <td>
              <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
              Aprobado
            </td>
            <td>Descargar <i class="far fa-file-pdf pdf-icon"></i></td>
            <td><i class="fas fa-cloud-download-alt"></i></td>
            <td><i class="far fa-trash-alt"></i></td>
            <td><input type="text" value="Comentario 6" class="comment-input"></td>
          </tr>
          <tr>
            <td><img src="{% static 'images/imagen2.png' %}" alt="Gabriela Riofrio" class="table-user-avatar"> Gabriela
              Riofrio</td>
            <td>03/07/2025</td>
            <td>20:00</td>
            <td>
              <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
              Aprobado
            </td>
            <td>Descargar <i class="far fa-file-pdf pdf-icon"></i></td>
            <td><i class="fas fa-cloud-download-alt"></i></td>
            <td><i class="far fa-trash-alt"></i></td>
            <td><input type="text" value="Comentario 6" class="comment-input"></td>
          </tr>
          <tr>
            <td><img src="{% static 'images/imagen2.png' %}" alt="Gabriela Riofrio" class="table-user-avatar"> Gabriela
              Riofrio</td>
            <td>03/07/2025</td>
            <td>20:00</td>
            <td>
              <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
              Aprobado
            </td>
            <td>Descargar <i class="far fa-file-pdf pdf-icon"></i></td>
            <td><i class="fas fa-cloud-download-alt"></i></td>
            <td><i class="far fa-trash-alt"></i></td>
            <td><input type="text" value="Comentario 6" class="comment-input"></td>
          </tr>
          <tr>
            <td><img src="{% static 'images/imagen2.png' %}" alt="Gabriela Riofrio" class="table-user-avatar"> Gabriela
              Riofrio</td>
            <td>03/07/2025</td>
            <td>20:00</td>
            <td>
              <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
              Aprobado
            </td>
            <td>Descargar <i class="far fa-file-pdf pdf-icon"></i></td>
            <td><i class="fas fa-cloud-download-alt"></i></td>
            <td><i class="far fa-trash-alt"></i></td>
            <td><input type="text" value="Comentario 6" class="comment-input"></td>
          </tr>
          <tr>
            <td><img src="{% static 'images/imagen2.png' %}" alt="Gabriela Riofrio" class="table-user-avatar"> Gabriela
              Riofrio</td>
            <td>03/07/2025</td>
            <td>20:00</td>
            <td>
              <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
              Aprobado
            </td>
            <td>Descargar <i class="far fa-file-pdf pdf-icon"></i></td>
            <td><i class="fas fa-cloud-download-alt"></i></td>
            <td><i class="far fa-trash-alt"></i></td>
            <td><input type="text" value="Comentario 6" class="comment-input"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% include 'admin/socios/bottom_socio_nav.html' %}
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/socios_logic.js' %}" defer></script>
{% endblock %}