{% extends 'admin/master/masteradmin.html' %}
{% load static %}

{% block title %}Socios - Formularios - Admin{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/socios.css' %}" />
<link rel="stylesheet" href="{% static 'css/socios_formularios.css' %}" />
{% endblock %}

{% block admin_content %}
<hr>
<h4><i class="far fa-file-alt"></i> Formularios seguro de vida</h4>

<div class="main-socio-container">

  <div class="socio-forms-section">
    <div class="table-responsive-socio">
      <table>
        <thead>
          <tr>
            <th>Usuario</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Estado</th>
            <th>Solicitud</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for solicitud in solicitudes %}
          <tr>
            <td>
              <img src="{{ solicitud.perfiles.first.imagen.url }}" alt="{{ solicitud.nombres }} {{ solicitud.apellidos }}"
                class="table-user-avatar">
              {{ solicitud.nombres }} {{ solicitud.apellidos }}
            </td>
            <td>{{ solicitud.fecha_creacion|date:"d/m/Y" }}</td>
            <td>{{ solicitud.fecha_creacion|date:"H:i" }}</td>
            <td>
              <label class="switch">
                <input type="checkbox" class="estado-toggle" data-id="{{ solicitud.id }}" {% if solicitud.estado %}checked{% endif %}>
                <span class="slider round"></span>
              </label>
              {% if solicitud.estado %}
              Aprobado
              {% else %}
              Pendiente
              {% endif %}
            </td>
            <td>
              <a href="{% url 'ver_info_solicitud' solicitud.id %}">
                Ver
              </a>
            </td>
            <td>
              <form action="{% url 'eliminar_solicitud' solicitud.id %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-link p-0"
                  onclick="return confirm('¿Estás seguro de eliminar esta solicitud?');">
                  <i class="far fa-trash-alt text-danger"></i>
                </button>
              </form>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="6">No hay formularios registrados.</td>
          </tr>
          {% endfor %}
        </tbody>

      </table>
    </div>
  </div>
</div>
{% include 'admin/socios/bottom_socio_nav.html' %}
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/socios_logic.js' %}" defer></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>
  $(document).on('change', '.estado-toggle', function () {
      let checkbox = $(this);
      let solicitudId = checkbox.data('id');
      let solicitudText = 'Afiliación'
      let socioId = 0
  
      $.ajax({
          url: `/admin_socios_formularios/toggle-estado/${solicitudId}/`,
          type: 'POST',
          headers: { 'X-CSRFToken': '{{ csrf_token }}' },
          success: function (data) {
              console.log('Estado actualizado:', data.nuevo_estado);

              fetch(`http://127.0.0.1:8000/trigger-event-2/${solicitudId}/${solicitudText}/${socioId}/`)
              .then(response => {
                if (!response.ok) throw new Error("Error al enviar notificación");
                return response.json();
              })
              .then(data => {
                console.log('Notificación enviada:', data);
              })
              .catch(error => {
                console.error('Error al enviar notificación:', error);
                alert("Error al enviar la notificación. El formulario no se enviará.");
              });
              
          },
          error: function () {
              alert('Error al cambiar el estado.');
              checkbox.prop('checked', !checkbox.prop('checked')); 
          }
      });
  });
  </script>
{% endblock %}