{% extends 'admin/master/masteradmin.html' %}
{% load static %}

{% block title %}Ver Solicitud - Admin{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/ver_info_solicitud.css' %}">
{% endblock %}

{% block admin_content %}
<h2> Detalle de Solicitud Seguro de Vida</h2>
<div class="container-scroll">
    <div class="card-header bg-dark text-white">Datos de Identificación</div>
    <hr>
    <dl>
        <dt>Tipo Identificación:</dt>
        <dd>{{ solicitud.get_tipo_identificacion_display }}</dd>
        <dt>Número Identificación:</dt>
        <dd>{{ solicitud.numero_identificacion }}</dd>
        <dt>Nombres:</dt>
        <dd>{{ solicitud.nombres }}</dd>
        <dt>Apellidos:</dt>
        <dd>{{ solicitud.apellidos }}</dd>
        <dt>Fecha Nacimiento:</dt>
        <dd>{{ solicitud.fecha_nacimiento }}</dd>
        <dt>Estado Civil:</dt>
        <dd>{{ solicitud.get_estado_civil_display }}</dd>
    </dl>
    <hr>
    <div class="card-header bg-dark text-white">Domicilio</div>
    <hr>
    <dl>
        <dt>Dirección:</dt>
        <dd>{{ solicitud.direccion_domicilio }}</dd>
        <dt>Correo:</dt>
        <dd>{{ solicitud.correo_domicilio }}</dd>
        <dt>Teléfono:</dt>
        <dd>{{ solicitud.telefono_domicilio }}</dd>
        <dt>Celular:</dt>
        <dd>{{ solicitud.celular_domicilio }}</dd>
    </dl>
    <hr>
    <div class="card-header bg-dark text-white">Trabajo</div>
    <hr>
    <dl>
        <dt>Empresa:</dt>
        <dd>{{ solicitud.nombre_empresa }}</dd>
        <dt>Dirección Trabajo:</dt>
        <dd>{{ solicitud.direccion_trabajo }}</dd>
        <dt>Correo Trabajo:</dt>
        <dd>{{ solicitud.correo_trabajo }}</dd>
        <dt>Teléfono Trabajo:</dt>
        <dd>{{ solicitud.telefono_trabajo }}</dd>
        <dt>Ocupación:</dt>
        <dd>{{ solicitud.ocupacion }}</dd>
        <dt>Envío Correspondencia:</dt>
        <dd>{{ solicitud.get_envio_correspondencia_display }}</dd>
    </dl>
    <hr>
    <div class="card-header bg-dark text-white">Otros Seguros</div>
    <hr>
    <dl>
        <dt>¿Tiene otros seguros?</dt>
        <dd>{{ solicitud.otros_seguros_vida|yesno:"Sí,No" }}</dd>
        <dt>Compañías:</dt>
        <dd>{{ solicitud.especifique_companias_otros_seguros }}</dd>
    </dl>

    <div class="card-header bg-dark text-white">Es Usted</div>
    <hr>
    <dl>
        <dt>Es Usted:</dt>
        <dd>{{ solicitud.get_es_usted_display }}</dd>
    </dl>
    <hr>
    <div class="card-header bg-dark text-white">Declaración de Salud</div>
    <hr>
    {% if solicitud.declaracion_salud %}
    <dl>
        <dt>Peso (kg):</dt>
        <dd>{{ solicitud.declaracion_salud.peso_kg }}</dd>
        <dt>Estatura (cm):</dt>
        <dd>{{ solicitud.declaracion_salud.estatura_cm }}</dd>
        <dt>Tensión Arterial Sistólica:</dt>
        <dd>{{ solicitud.declaracion_salud.tension_arterial_sistolica }}</dd>
        <dt>¿Su peso ha aumentado o disminuido durante el último año?</dt>
        <dd>{{ solicitud.declaracion_salud.peso_ha_cambiado|yesno:"Sí,No"}}</dd>
        <dt>¿Cuánto peso cambió?</dt>
        <dd>{{ solicitud.declaracion_salud.cuanto_peso_cambio }}</dd>
        <dt>¿Cambio de peso intencional?</dt>
        <dd>{{ solicitud.declaracion_salud.peso_cambio_intencional|yesno:"Sí,No"}}</dd>
        <dt>¿Causa del cambio de peso?</dt>
        <dd>{{ solicitud.declaracion_salud.causa_peso_cambio }}</dd>
        <dt>1. ¿Afecciones del corazón o aparato circulatorio...?</dt>
        <dd>{{ solicitud.declaracion_salud.pregunta1_salud|yesno:"Sí,No"}}</dd>
        <dt>2. ¿Afecciones de los órganos respiratorios...?</dt>
        <dd>{{ solicitud.declaracion_salud.pregunta2_salud|yesno:"Sí,No"}}</dd>
        <dt>3. ¿Enfermedad circulatoria o accidente vascular cerebral?</dt>
        <dd>{{ solicitud.declaracion_salud.pregunta3_salud|yesno:"Sí,No"}}</dd>
        <dt>4. ¿Enfermedades del sistema endocrino...?</dt>
        <dd>{{ solicitud.declaracion_salud.pregunta4_salud|yesno:"Sí,No"}}</dd>
        <dt>5. ¿Cirrosis hepática, hepatitis C o insuficiencia hepática?</dt>
        <dd>{{ solicitud.declaracion_salud.pregunta5_salud|yesno:"Sí,No"}}</dd>
        <dt>6. ¿Edema o supuración o aumento de volumen de los ganglios linfáticos?</dt>
        <dd>{{ solicitud.declaracion_salud.pregunta6_salud|yesno:"Sí,No"}}</dd>
        <dt>7. Afecciones del cerebro o del sistema nervioso...?</dt>
        <dd>{{ solicitud.declaracion_salud.pregunta7_salud|yesno:"Sí,No"}}</dd>
        <dt>8. Afecciones del aparato digestivo...?</dt>
        <dd>{{ solicitud.declaracion_salud.pregunta8_salud|yesno:"Sí,No"}}</dd>
        <dt>9. ¿Enfermedad de la piel?</dt>
        <dd>{{ solicitud.declaracion_salud.pregunta9_salud|yesno:"Sí,No"}}</dd>
        <dt>10. ¿Enfermedades infecciosas...?</dt>
        <dd>{{ solicitud.declaracion_salud.pregunta10_salud|yesno:"Sí,No"}}</dd>
        <dt>11. ¿Afecciones urinarias o genitales? (riñones, próstata, etc.)</dt>
        <dd>{{ solicitud.declaracion_salud.pregunta11_salud|yesno:"Sí,No"}}</dd>
        <dt>12. ¿Enfermedades de la sangre, gota, hernia, etc.?</dt>
        <dd>{{ solicitud.declaracion_salud.pregunta12_salud|yesno:"Sí,No"}}</dd>
        <dt>13. ¿Enfermedades venéreas o de transmisión sexual?</dt>
        <dd>{{ solicitud.declaracion_salud.pregunta13_salud|yesno:"Sí,No"}}</dd>
        <dt>14. ¿Accidente grave o intoxicación?</dt>
        <dd>{{ solicitud.declaracion_salud.pregunta14_salud|yesno:"Sí,No"}}</dd>
        <dt>15. ¿Enfermedades de los oídos?</dt>
        <dd>{{ solicitud.declaracion_salud.pregunta15_salud|yesno:"Sí,No"}}</dd>
        <dt>16. ¿Enfermedades de los ojos?</dt>
        <dd>{{ solicitud.declaracion_salud.pregunta16_salud|yesno:"Sí,No"}}</dd>
        <dt>17. ¿Tratamiento por psiquiatra o psicólogo?</dt>
        <dd>{{ solicitud.declaracion_salud.pregunta17_salud|yesno:"Sí,No"}}</dd>
        <dt>18. ¿HIV o SIDA?</dt>
        <dd>{{ solicitud.declaracion_salud.pregunta18_salud|yesno:"Sí,No"}}</dd>
        <dt>19. ¿Le han prescrito medicamentos en los últimos 12 meses?</dt>
        <dd>{{ solicitud.declaracion_salud.pregunta19_salud|yesno:"Sí,No"}}</dd>
        <dt>20. ¿Le han indicado reposo o desintoxicación?</dt>
        <dd>{{ solicitud.declaracion_salud.pregunta20_salud|yesno:"Sí,No"}}</dd>
        <dt>21. ¿Ha recibido transfusiones?</dt>
        <dd>{{ solicitud.declaracion_salud.pregunta21_salud|yesno:"Sí,No"}}</dd>
        <dt>22. ¿Le han recomendado no donar sangre?</dt>
        <dd>{{ solicitud.declaracion_salud.pregunta22_salud|yesno:"Sí,No"}}</dd>
        <dt>23. ¿Tiene capacidad de trabajo reducida?</dt>
        <dd>{{ solicitud.declaracion_salud.pregunta23_salud|yesno:"Sí,No"}}</dd>
        <dt>24. ¿Ha dejado de trabajar por más de 3 semanas en los últimos 5 años?</dt>
        <dd>{{ solicitud.declaracion_salud.pregunta24_salud|yesno:"Sí,No"}}</dd>
        <dt>25. ¿Antecedentes hereditarios (diabetes, corazón, etc.)?</dt>
        <dd>{{ solicitud.declaracion_salud.pregunta25_salud|yesno:"Sí,No"}}</dd>
        <dt>26. ¿Intervención quirúrgica?</dt>
        <dd>{{ solicitud.declaracion_salud.pregunta26_salud|yesno:"Sí,No"}}</dd>
        <dt>27. ¿Hospitalización pendiente?</dt>
        <dd>{{ solicitud.declaracion_salud.pregunta27_salud|yesno:"Sí,No"}}</dd>
        <dt>28. ¿Cualquier otra enfermedad no declarada?</dt>
        <dd>{{ solicitud.declaracion_salud.pregunta28_salud|yesno:"Sí,No"}}</dd>
    </dl>
    <hr>
    <div class="card-header bg-dark text-white">Mas información de Hábitos</div>
    <dt>Fuma:</dt>
    <dd>{{ solicitud.declaracion_salud.fuma|yesno:"Sí,No"}}</dd>
    <dt>Cantidad fumada:</dt>
    <dd>{{ solicitud.declaracion_salud.cantidad_fumada }}</dd>
    <dt>detalles preguntas de salud:</dt>
    <dd>{{ solicitud.declaracion_salud.detalle_preguntas_salud }}</dd>
    <dt>nombre medico:</dt>
    <dd>{{ solicitud.declaracion_salud.nombre_medico }}</dd>
    <dt>medico por ultima vez:</dt>
    <dd>{{ solicitud.declaracion_salud.medico_ultima_vez }}</dd>
    <dt>motivo:</dt>
    <dd>{{ solicitud.declaracion_salud.motivo_ultima_vez }}</dd>
    <dt>consume alcohol:</dt>
    <dd>{{ solicitud.declaracion_salud.consume_alcohol|yesno:"Sí,No"}}</dd>
    <dt>cuales tipos de alcohol:</dt>
    <dd>{{ solicitud.declaracion_salud.cuales_alcohol }}</dd>
    <dt>cuanto alcohol diariamente:</dt>
    <dd>{{ solicitud.declaracion_salud.cuanto_diariamente_alcohol }}</dd>
    <dt>uso estupefacientes:</dt>
    <dd>{{ solicitud.declaracion_salud.uso_estupefacientes|yesno:"Sí,No"}}</dd>
    <dt>cuales estupefacientes:</dt>
    <dd>{{ solicitud.declaracion_salud.cuales_estupefacientes }}</dd>
    <dt>hasta cuando estupefacientes:</dt>
    <dd>{{ solicitud.declaracion_salud.hasta_cuando_estupefacientes }}</dd>

    <hr>
    <div class="card-header bg-dark text-white">Detalles de Afecciones Declaradas</div>
    <hr>
    {% for detalle in solicitud.declaracion_salud.detalles_preguntas_salud.all %}
    <dl>
        <dt>Pregunta {{ detalle.numero_pregunta }}</dt>
        <dd>{{ detalle.detalle }}</dd>
        <dd><strong>Cuándo:</strong> {{ detalle.cuando }}</dd>
        <dd><strong>Duración:</strong> {{ detalle.duracion }}</dd>
        <dd><strong>Secuelas:</strong> {{ detalle.secuelas }}</dd>
        <dd><strong>Médico Tratante:</strong> {{ detalle.medico_tratante }}</dd>
    </dl>
    {% empty %}<p>No hay detalles de salud adicionales.</p>
    {% endfor %}
    {% else %}
    <p>No hay declaración de salud registrada.</p>
    {% endif %}
    <hr>
    <div class="card-header bg-dark text-white">Actividades Deportivas</div>
    <hr>
    {% for deporte in solicitud.deportes_actividades.all %}
    <dl>
        <dt>Actividad:</dt>
        <dd>{{ deporte.nombre_actividad }}</dd>
            <dt>Con competición:</dt>
            <dd>{{ deporte.con_competicion|yesno:"Sí,No" }}</dd>
            <dt>Piloto:</dt>
            <dd>{{ deporte.es_piloto|yesno:"Sí,No" }}</dd>
            <dt>Paracaidismo:</dt>
            <dd>{{ deporte.paracaidismo|yesno:"Sí,No" }}</dd>
        </dl>
    {% empty %}<p>No se registraron actividades.</p>
    {% endfor %}
    <hr>
    <div class="card-header bg-dark text-white">Beneficiarios</div>
    <hr>
    {% for beneficiario in solicitud.beneficiarios.all %}
        <dl>
            <dt>Nombre:</dt>
            <dd>{{ beneficiario.nombres_completos }}</dd>
            <dt>Dirección:</dt>
            <dd>{{ beneficiario.direccion }}</dd>
            <dt>Fecha Nacimiento:</dt>
            <dd>{{ beneficiario.fecha_nacimiento }}</dd>
            <dt>Parentesco:</dt>
            <dd>{{ beneficiario.parentesco }}</dd>
            <dt>C.I.:</dt>
            <dd>{{ beneficiario.cedula_identidad }}</dd>
            <dt>Porcentaje:</dt>
            <dd>{{ beneficiario.porcentaje }}%</dd>
        </dl>
    {% empty %}<p>No hay beneficiarios registrados.</p>
    {% endfor %}
    <hr>
    <div class="card-header bg-dark text-white">Firma y Declaración Final</div>
    <hr>
    <dl>
            <dt>Lugar de Firma:</dt>
            <dd>{{ solicitud.lugar_firma }}</dd>
            <dt>Fecha de Firma:</dt>
            <dd>{{ solicitud.fecha_firma }}</dd>
            <dt>Firma Electrónica Generada:</dt>
            <dd>{{ solicitud.firma_electronica_generada|yesno:"Sí,No" }}</dd>
        </dl>
        <a href="{% url 'admin_socios_formularios' %}" class="btn btn-outline-primary mt-3">← Volver</a>
    </div>
    
    {% endblock %}