{% load static %}
<div id="formulario-a-content" class="form-pane-content active">
    <div class="start-form-section con-imagen">
        <div class="formulario-izquierda">
            <h5 class="form-section-title">Formularios-Solicitud de seguro individual de vida</h5>
            <a href="/solicitud_seguro_form" class="btn btn-primary btn-start-form">Comenzar</a>
        </div>
        <div class="image-placeholder-interna">
            <img src="{% static 'images/form_family_placeholder.png' %}" alt="Family" />
        </div>
    </div>
</div>