{% load static %}
<div class="formulario-b-box horizontal-layout">
    <div class="contenido-formulario-b">
        <h5 class="form-section-title">Formularios-Solicitud de seguro individual de vida</h5>
        <div class="pdf-action-group">
            <a href="#" class="btn btn-download-pdf">
                <i class="far fa-file-pdf pdf-icon-lg me-2"></i> Descargar PDF
            </a>
            <button class="btn btn-correct-pdf">Corregir</button>
        </div>
        <div class="upload-area">
            <p class="upload-text">Arrastre o Cargue Archivo</p>
            <i class="fas fa-cloud-upload-alt upload-icon"></i>
            <button class="btn btn-upload-file">Subir</button>
        </div>
    </div>

    <div class="image-placeholder-interna">
        <img src="{% static 'images/form_family_placeholder.png' %}" alt="Family Icon" />
    </div>
</div>