<div id="estado-content" class="tab-pane-content">
    <h4>Estado</h4>
    <div class="table-responsive-estado">
        <table>
            <thead>
                <tr>
                    <th>Nro Solicitud</th>
                    <th>Servicio</th>
                    <th>Subservicio</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>001</td>
                    <td>Seguro de vida</td>
                    <td>Vida (Muerte por cualquier causa)</td>
                    <td>01/07/2025</td>
                    <td>08:00 AM</td>
                    <td class="status-rejected">RECHAZADO</td>
                </tr>
                <tr>
                    <td>002</td>
                    <td>Seguro de vida</td>
                    <td>Vida (Muerte por cualquier causa)</td>
                    <td>05/07/2025</td>
                    <td>08:15 AM</td>
                    <td class="status-approved">APROBADO</td>
                </tr>
                <tr>
                    <td>003</td>
                    <td>Seguro de vida</td>
                    <td>Vida (Muerte por cualquier causa)</td>
                    <td>06/07/2025</td>
                    <td>10:00 AM</td>
                    <td class="status-pending">PENDIENTE</td>
                </tr>
                <tr>
                    <td>004</td>
                    <td>Seguro de vida</td>
                    <td>Vida (Muerte por cualquier causa)</td>
                    <td>06/07/2025</td>
                    <td>10:00 AM</td>
                    <td class="status-approved">APROBADO</td>
                </tr>
                <tr>
                    <td>005</td>
                    <td>Seguro de vida</td>
                    <td>Vida (Muerte por cualquier causa)</td>
                    <td>06/07/2025</td>
                    <td>10:00 AM</td>
                    <td class="status-rejected">RECHAZADO</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="new-request-btn-container">
        <button class="btn btn-new-request"><i class="fas fa-plus-circle"></i> Nueva Solicitud</button>
    </div>
</div>