<div id="archivos-recibidos-content" class="tab-pane-content">
    <h4>Archivos Recibidos</h4>
    <hr>
    <p>Vista previa:</p>
    <div class="file-card">
        <div class="file-info">
            <i class="far fa-file-pdf pdf-icon"></i>
            <span>Poliza_Seguro.pdf</span>
        </div>
        <button class="btn-download"><i class="fas fa-download"></i> Download</button>
    </div>
    <div class="file-card">
        <div class="file-info">
            <i class="far fa-file-pdf pdf-icon"></i>
            <span>Carnet_Digital.pdf</span>
        </div>
        <button class="btn-download"><i class="fas fa-download"></i> Download</button>
    </div>
    <p class="receipt-note">Para recibir los archivos legalizados (poliza y carnet digital) por favor proceda a pagar
    </p>
    <p class="terminos-condiciones">
        Términos y condiciones
        <i class="fas fa-square-check icono-check"></i>
    </p>

    <div class="receipt-buttons">
        <button class="btn btn-add-cart"><i class="fas fa-cart-plus"></i> Añadir carrito</button>
    </div>
</div>