{% extends 'master/side_bar/master.html' %}
{% load static %}

{% block title %}Firma Electronica - Cámara de Comercio de Loja{% endblock %}
{% block page_title %}Firma Electronica{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/seguro_vida.css' %}">
<link rel="stylesheet" href="{% static 'css/seguro_vida_archivos.css' %}">
<link rel="stylesheet" href="{% static 'css/seguro_vida_estado.css' %}">
{% endblock %}

{% block page_content %}
<hr class="divider-line" />

<a href="/subservicios/{{servicio_id}}/{{categoria_id}}" id="btn-volver" class="btn btn-volver mb-3">
  <i class="fas fa-arrow-left me-2"></i> Volver a Subservicios
</a>

<div class="contenido-principal-con-banner">

  <div class="service-detail-container">
    <h3 class="service-title">FIRMA ELECTRONICA</h3>
    <p class="service-subtitle">Firma Electronica</p>

    <div class="tab-bar">
      <button class="tab-button active" data-tab-target="archivos-subidos">Archivos subidos</button>
      <button class="tab-button" data-tab-target="estado">Estado</button>
      <button class="tab-button" data-tab-target="archivos-recibidos">Archivos recibidos</button>
    </div>
  </div>

  <div class="banner-servicios">
    <img src="{% static 'images/seguro.png' %}" alt="Banner Seguro de Vida" />
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/seguro_vida_tabs.js' %}" defer></script>
{% endblock %}