{% extends 'master/side_bar/master.html' %}
{% load static %}


{% block page_content %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/categorias.css' %}">
{% endblock %}

<hr class="divider-line" />

<div id="cards-container" class="categories-scroll">

    {% for categoria in categorias %}
    <div class="category-card with-image">
        <img src="{{ categoria.img.url }}" alt="Imagen de categoría" class="card-image" />
        <div class="card-content text-center">
            <h3 class="card-title">{{ categoria.tipo }}</h3>
            <p class="card-description" style="color: black;">
                {{ categoria.descripcion }}
            </p>
            <a href="/servicios/{{ categoria.id }}" class="btn btn-ingresar">
                <span class="btn-text">Ingresar</span>
            </a>
        </div>
    </div>
    {% endfor %}
    
</div>
{% endblock %}