{% extends 'master/side_bar/master.html' %}
{% load static %}


{% block page_content %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/categorias.css' %}">
{% endblock %}

<hr class="divider-line" />

<div id="cards-container" class="categories-scroll">

    <div class="category-card with-image">
        <img src="{% static 'images/fondo.jpg' %}" alt="Imagen de categoría" class="card-image" />
        <div class="card-content text-center">
            <h3 class="card-title">Salud</h3>
            <p class="card-description">
                La Cámara de Comercio de Loja pone a disposición de sus usuarios y
                socios una variedad de servicios en el área de salud, a través de
                convenios con clínicas, farmacias y profesionales certificados.
            </p>
            <a href="/servicios" class="btn btn-ingresar">
                <span class="btn-text">Ingresar</span>
            </a>
        </div>
    </div>

    <div class="category-card with-image">
        <img src="{% static 'images/fondo.jpg' %}" alt="Imagen de categoría" class="card-image" />
        <div class="card-content text-center">
            <h3 class="card-title">Tecnología</h3>
            <p class="card-description">
                Explora las últimas tendencias en tecnología y encuentra servicios
                innovadores para tu negocio.
            </p>
            <a href="/servicios" class="btn btn-ingresar">
                <span class="btn-text">Ingresar</span>
            </a>
        </div>
    </div>

    <div class="category-card with-image">
        <img src="{% static 'images/fondo3.jpg' %}" alt="Imagen de categoría" class="card-image" />
        <div class="card-content text-center">
            <h3 class="card-title">Educación</h3>
            <p class="card-description">
                Accede a cursos, talleres y programas de capacitación para el
                desarrollo profesional.
            </p>
            <a href="/servicios" class="btn btn-ingresar">
                <span class="btn-text">Ingresar</span>
            </a>
        </div>
    </div>

    <div class="category-card with-image">
        <img src="{% static 'images/fondo4.png' %}" alt="Imagen de categoría" class="card-image" />
        <div class="card-content text-center">
            <h3 class="card-title">Firmas</h3>
            <p class="card-description">
                Accede a cursos, talleres y programas de capacitación para el
                desarrollo profesional.
            </p>
            <a href="/servicios" class="btn btn-ingresar">
                <span class="btn-text">Ingresar</span>
            </a>
        </div>
    </div>

    <div class="category-card with-image">
        <img src="{% static 'images/fondo.jpg' %}" alt="Imagen de categoría" class="card-image" />
        <div class="card-content text-center">
            <h3 class="card-title">Tecnología</h3>
            <p class="card-description">
                Explora las últimas tendencias en tecnología y encuentra servicios
                innovadores para tu negocio.
            </p>
            <a href="/servicios" class="btn btn-ingresar">
                <span class="btn-text">Ingresar</span>
            </a>

        </div>
    </div>

    <div class="category-card with-image">
        <img src="{% static 'images/fondo3.jpg' %}" alt="Imagen de categoría" class="card-image" />
        <div class="card-content text-center">
            <h3 class="card-title">Educación</h3>
            <p class="card-description">
                Accede a cursos, talleres y programas de capacitación para el
                desarrollo profesional.
            </p>
            <a href="/servicios" class="btn btn-ingresar">
                <span class="btn-text">Ingresar</span>
            </a>

        </div>
    </div>

    <div class="category-card with-image">
        <img src="{% static 'images/fondo4.png' %}" alt="Imagen de categoría" class="card-image" />
        <div class="card-content text-center">
            <h3 class="card-title">Firmas</h3>
            <p class="card-description">
                Accede a cursos, talleres y programas de capacitación para el
                desarrollo profesional.
            </p>
            <a href="/servicios" class="btn btn-ingresar">
                <span class="btn-text">Ingresar</span>
            </a>

        </div>
    </div>

    <div class="category-card with-image">
        <img src="{% static 'images/fondo.jpg' %}" alt="Imagen de categoría" class="card-image" />
        <div class="card-content text-center">
            <h3 class="card-title">Tecnología</h3>
            <p class="card-description">
                Explora las últimas tendencias en tecnología y encuentra servicios
                innovadores para tu negocio.
            </p>
            <a href="/servicios" class="btn btn-ingresar">
                <span class="btn-text">Ingresar</span>
            </a>

        </div>
    </div>

</div>
{% endblock %}